{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Traffiway - Your car{% endblock %}

{% block page_content %}

    <div class="container mb-3 mt-3">
        <div class="page-header">
            <h2>Vehicle: {{ car.name }}</h2>
        </div>
        <div class="list-group-item-text">
            <h3>Details</h3>
            Capacity Weight: {{ car.capacity_weight }} <br>
            Capacity Length: {{ car.capacity_length }} <br>
            Capacity Height: {{ car.capacity_height }} <br>
            Capacity Width: {{ car.capacity_width }} <br>
        </div>
        <div>
            <h3>History: </h3>
        </div>

        {# TODO Upload image #}
    </div>

{% endblock %}